:root {
    --backgroundColor : #1b999e;
    --textColor : #4b4c50;
}

main {
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .about-company {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

main .about-company img {
    width: 30%;
}

main .about-company .description {
    text-align: center;
    margin: 10px;
}

main .about-company .description p {
    color: white;
}

main .about-company .description a {
    background-color: white;
    color: var(--backgroundColor);
    text-decoration: none;
    border-radius: 5px;
    padding: .5em;
}