:root {
    --backgroundColor : #1b999e;
    --textColor : #4b4c50;
}

body {
    background-color: #e7e5e6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth {
    background-color: var(--backgroundColor);
    margin: 4vh 4vw;
    padding: 10%;
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth form div {
    margin: 2em;
}

.auth form .email, .auth form .password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth form div label {
    opacity: 0;
}

.auth form div input {
    background: none;
    color: white;
    outline: none;
    border: none;
    border-bottom: 3px solid #e7e5e6;
    width: 20em;
}

.auth form div input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.auth form div input:focus {
    border-bottom: 3px solid white;
}